extend layout

block query_bar
	script(src='/js/foursquare.js')

	.required
		h1.title  
		input#fsLogIn(type="button", name="submit query", value="Log-in to Foursquare") 
 
block query_results
	.header
		div.required You need to start by logging into your Foursquare account.
		div.optional Then you can start forwarding check-ins near by to Spacebrew.
	#content
