extend layout

block header_script_post
  script(src='/js/foursquare.js')

block query_results
  .header
    div.required Enter coordinates to forward near-by check-ins to Spacebrew.
    div.optional 
  #content
