extend layout

block query_bar
  input#qText(type="text", name="twitter query", value="enter query")  
  input#qSubmit(type="button", name="submit query", value="Submit") 

block query_results
  h1  
  #tweet_container

block query_item
    .tweet 
      span.user
      | : 
      span.text
      | [
      span.created_at
      |]

