extend layout

block query_bar
  input#qText(type="text", name="twitter query", value="enter query")  
  input#qSubmit(type="button", name="submit query", value="Submit") 

block query_results
  h1 Tweets Filter: 
  span#qActive
  #tweet_container
    .tweet
      span.user
        | User One
      | : 
      span.text
        | Sed auctor neque eu tellus rhoncus ut
        | eleifend nibh porttitor. Ut in nulla enim.
        | Vivamus hendrerit arcu sed erat molestie
        | vehicula. 
      span.time
        | [Published on jan 13, 2012 at 20:20]
    .tweet
      span.user
        | User Two
      | : 
      span.text
        | Sed auctor neque eu tellus rhoncus ut
        | eleifend nibh porttitor. Ut in nulla enim.
        | Vivamus hendrerit arcu sed erat molestie
        | vehicula. 
      span.time
        | [Published on jan 13, 2012 at 20:20]

block query_item
    .tweet 
      span.user
      | : 
      span.text
      | [
      span.created_at
      |]

