extend layout

block header_script_post
  script(src='/js/twitter.js')


block query_results
  .header
    div.required Enter a search query to start forwarding tweets to Spacebrew.
    div.optional You can also add a geocode filter to your queries.
  #content
