/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: "Lucida Console", "Monaco", "monospace";
  background-color: #faf9f0;
  color: #444;
}
header {
  font-family: "Lucida Console", "Monaco", "monospace";
  padding: 20px 10px;
  color: #fff;
  font-size: 20px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #fa5b4d;
  border-bottom: 1px solid #df1806;
  text-shadow: 0px -1px 0px #df1806;
}
.container {
  width: 800px;
  margin: 20px auto;
  overflow: hidden;
}
#query_form {
  float: left;
  width: 180px;
  padding-bottom: 20px;
  font-family: "Lucida Console", "Monaco", "monospace";
  font-size: 12px;
}
#query_form h1 {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 5px;
}
#query_form h2 {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#query_form .primary {
  margin-bottom: 10px;
}
#query_results {
  float: left;
  width: 500px;
  padding-bottom: 20px;
  font-family: "Lucida Console", "Monaco", "monospace";
  padding-right: 10px;
}
#query_results .header {
  padding-bottom: 10px;
  border-bottom: 1px dotted #000;
}
#query_results h1 {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#query_results h2 {
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 10px;
}
#query_results #tweet_container {
  padding-top: 10px;
}
#query_results .tweet {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 1.5;
}
#query_results .tweet .user {
  font-weight: bold;
}
#query_results .tweet .text {
  font-weight: normal;
}
#query_results .tweet .time {
  font-weight: normal;
}
p {
  line-height: 1.5;
}
#templates {
  visibility: hidden;
  disblay: none;
}
footer {
  width: 700px;
  margin: 25px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 12px;
}
